@model ToDoApp.Models.TodoModel

@{
    ViewData["Title"] = "Create";
}


<div>
    <a asp-action="Index"><img src="../../images/arrow-return-left.svg" class="img-fluid" alt="Back To List"></a>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-md-4">
        <form asp-action="Create">
            <h1 class="text-center">New Todo</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="DateToDone" class="control-label"></label>
                <input asp-for="DateToDone" class="form-control" />
                <span asp-validation-for="DateToDone" class="text-danger"></span>
            </div>
            <div class="form-group mt-5 d-flex justify-content-center">
                <input type="submit" value="Create" class="pt-2 pb-2 ps-5 pe-5 btn btn-primary" />
            </div>
        </form>
    </div>
</div>


