@model ToDoApp.Models.TodoIndexViewModel

@{
    ViewData["Title"] = "Index";
}

@if (Model.Done.Any() || Model.NotDone.Any()) {
    <div class="w-100 mt-5 d-flex justify-content-end">
        <a asp-action="Create"><img src="images/plus-square.svg" class="img-fluid" alt="New ToDo"></a>
    </div>

    @if (Model.NotDone.Any()) {
        <h2 class="mb-2">To Do</h2>
        <partial name="_Table" model="Model.NotDone"/>
    }

    @if (Model.Done.Any()) {
        <h2 class="mb-2">Done</h2>
        <partial name="_Table" model="Model.Done"/>
    }
}
else {
    <div class="row mt-5">
        <h1 class="text-center">You don't have any ToDo!</h1>
        <a asp-action="Create"><h2 class="text-center">Create One</h2></a>
    </div>
}
